/* Poppins Font Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Global Styles... */

:root {
    --main-color: #E72127;
    --hover-color: #d13f44;
    --hover-background-color: rgba(231, 33, 39, 0.8);
}

body {
    background-color: #FFFFFF;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header Section Styles... */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgba(241, 228, 255, 0.5);
}

.logo-img {
    width: 30%;
}

.menu-section {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    display: flex;
}

.nav-menu ul li {
    margin-right: 40px;
    transition: 300ms ease-in-out;
}

.nav-menu ul li a, .menu-icons i {
    text-decoration: none;
    color: #3A3A3A;
}

.nav-menu ul li:hover {
    margin-top: -5px;
}

.nav-menu ul li:hover a {
    color: var(--hover-color);
}

.menu-icons i {
    padding: 0 10px;
    font-size: 18px;
    transition: 300ms ease-in-out;
}

.menu-icons a:hover i {
    color: var(--hover-color);
    font-size: 20px;
}


/* Hero Section Styles... */

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content-section {
    width: 45%;
}

.hero-title {
    font-size: 55px;
    font-weight: 700;
    margin: 0;
}

.hero-text {
    line-height: 1.7;
    margin: 10px 0 40px 0;
    color: #3A3A3A;
}

.preebook-now-btn {
    height: 48px;
    width: 200px;
    background-color: var(--main-color);
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Poppins";
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgba(58, 58, 58, 0.25);
    transition: transform 600ms ease;
}

.preebook-now-btn:hover {
    background-color: var(--hover-background-color);
    transform: scale(1.1);
}

.hero-img-section {
    position: relative;
}

.background-border {
    height: 380px;
    width: 380px;
    border: 3px solid #F1E4FF;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 250px;
    z-index: -1;
}

.hero-img {
    width: 100%;
    z-index: 2;
    transition: 800ms ease;
}

.hero-img:hover {
    transform: scale(1.2);
}


/* Brand Logos Section... */

.brand-logos-section {
    margin: 50px 0;
}

.brand-logos-container {
    height: 100px;
    border-top: 1px solid #F1E4FF;
    border-bottom: 1px solid #F1E4FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand-logos-container a {
    opacity: 0.7;
    transition: opacity 400ms ease;
}

.brand-logos-container a:hover {
    opacity: 1;
}


/* Populer Collection Section... */

.populer-collection-section {
    margin: 50px 0 120px 0;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.collection {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 15px;
}

.populer-collection-heading {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #3A3A3A;
    margin: 30px 0;
}

.collection-img {
    width: 100%;
    border-radius: 5px;
    transition: transform 400ms ease;
}

.collection-img:hover {
    transform: scale(0.9);
}

.collection-title {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
}

.collection-price {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.collection-reviews-section {
    color: #FB8200;
}

.start-avrg {
    color: #3A3A3A;
    font-weight: 600;
}

.collection-shipment-text {
    color: #BDBDBD;
}

.collections {
    margin-bottom: 40px;
    position: relative;
}

.populer-collection-see-more-btn {
    position: absolute;
    right: 0;
    margin-right: 5%;
    transition: 400ms ease;
}

.populer-collection-see-more-btn a {
    color: var(--main-color);
    text-align: right;
    text-decoration: none;
    font-weight: 600;
    transition: 400ms ease;
}

.populer-collection-see-more-btn:hover {
    margin-top: -5px;
}

.populer-collection-see-more-btn a:hover {
    color: var(--hover-background-color);
}


/* Showcase Section Styles */

.car-showcase-section {
    height: 550px;
    background-image: url("../images/car-showcase-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

.showcase-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.showcase-content {
    width: 40%;
    margin: 0;
}

.showcase-title {
    font-size: 40px;
    color: #FFFFFF;
    margin: 0;
}

.showcase-text {
    color: #161616;
    padding-right: 5%;
    margin: 10px 0 40px 0;
    line-height: 1.8;
}


/* Featured Collection Section... */

.featured-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 50px 0;
}

.featured-img-section {
    width: 50%;
}

.featured-img {
    width: 90%;
    border-radius: 10px;
}

.featured-content {
    width: 50%;
}

.featured-heading {
    font-size: 32px;
    margin: 0;
}

.featured-text {
    line-height: 1.8;
    color: #3A3A3A;
}

.join-now-btn {
    height: 48px;
    width: 200px;
    background-color: var(--main-color);
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Poppins";
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgba(58, 58, 58, 0.25);
    transition: transform 600ms ease;
}

.join-now-btn:hover {
    background-color: var(--hover-background-color);
    transform: scale(1.1);
}


/* Footer Section */

.footer-section {
    background-color: var(--hover-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    
}

.footer-heading {
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: white;
}

.footer-text {
    line-height: 1.8;
    text-align: center;
    color: #D6D6D6;
}

.footer-social-section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin: 0;
}

.footer-social-section ul li {
    font-size: 35px;
    transition: 300ms ease;
}

.footer-social-section ul li:hover {
    margin-top: -20px;
}

.footer-social-section ul li a {
    color: #EFEFEF;
}

.footer-social-section ul li:hover a {
    color: white;
}





/* Responsive Media Query Styles */

@media screen and (max-width: 576px) {
    .header-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 125px;
    }

    .menu-section {
        width: 100%;
        justify-content: space-between;
    }

    .logo-section {
        text-align: center;
    }

    .nav-menu ul {
        padding: 0;
    }

    .nav-menu ul li {
        margin-right: 26px;
    }

    .menu-icons i {
        padding: 0;
    }

    /* Hero Section... */

    .hero-container {
        flex-direction: column;
    }

    .hero-content-section {
        width: 100%;
    }

    .hero-title {
        font-size: 36px;
    }

    .hero-text {
        font-size: 15px;
    }

    .background-border {
        height: 220px;
        width: 230px;
        top: 20px;
        left: 110px;
    }
    .hero-img:hover {
        margin: 20px 0;
    }


    /* Brand Logos Section... */

    
    .brand-logos-container {
        
    }

    .brand-logos-container {
        flex-wrap: wrap;
        height: 150px;
        padding: 20px 0;
        gap: 20px;
    }

    .brand-logos-container img {
        width: 90%;
    }

    /* Populer Collections Section... */

    .collections {
        margin-bottom: 40px;
        position: relative;
    }
    .collections {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Car Showcase Section... */

    .car-showcase-section {
        background-position: top center;
    }

    .showcase-content {
        width: 100%;
    }

    .showcase-title {
        font-size: 27px;
    }

    .showcase-text {
        font-size: 15px;
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 5px;
    }

    .car-showcase-section {
        height: 450px;
    }


    /* Featured Section... */

    .featured-container {
        flex-direction: column;
    }

    .featured-img-section {
        width: 100%;
    }

    .featured-img {
        width: 100%;
    }

    .featured-content {
        width: 100%;
    }



    .footer-social-section ul {
        padding-left: 0;
    }
}